<tr>
  <td><%= badge.title %></td>
  <td><%= badge.image %></td>
  <td><%= badge.rule %></td>
  <td><%= badge.params %></td>
  <td><%= link_to 'Просмотреть бейдж', admin_badge_path(badge) %></td>
  <td><%= link_to 'Редактировать бейдж', edit_admin_badge_path(badge) %></td>
  <td><%= link_to 'Удалить бейдж', admin_badge_path(badge),
                                       method: :delete,
                                       data: { confirm: 'Вы уверены?' } %>
  </td>
</tr>