<h1>Просмотр бейджа</h1>
<p>
  <strong>Название бейджа: </strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Изображение</strong>
  <%= @badge.image %>
</p>

<p>
  <strong>Правило получения</strong>
  <%= @badge.rule %>
</p>
<br>

<%= link_to 'Редактировать бейдж', edit_admin_badge_path(@badge) %> |
<%= link_to 'Вернуться к списку бейджей', admin_badges_path %>
