<p>
  <strong>Название вопроса:</strong>
  <%= @question.title %>
</p>

<h2>Ответы</h2>

<%= link_to 'Новый ответ', new_admin_question_answer_path(@question) %>


<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Редактировать вопрос', edit_admin_question_path(@question) %> |
<%= link_to 'Вернуться к тесту', admin_test_path(@question.test) %> | 
<%= link_to 'Удалить', admin_question_path(@question),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>
