<h1>Список всех тестов</h1>

<%= render 'shared/errors', resource: @test %>
<table id="table">
  <thead>
    <tr>
      <th class="pointer", id="sort-by-title">
        Название
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-warning hide' %>
      </th>
      <th>Уровень сложности</th>
      <th>Количество вопросов</th>
      <th colspan="3">Действия</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
  
<table>

<p>
  <%= link_to 'Создать тест', new_admin_test_path(@test) %>
</p>

<p>
  <%= link_to 'Cписок бейджей', admin_badges_path %>
</p>