<p>
  <strong>Тест</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @test.category.title %>
</p>

<h3>Вопросы теста:</h3>
<table>
  <%= render @test.questions %>
</table>
<br>

<p> 
  <strong>Время выполнения:</strong>
  <%= @test.time %> минут
</p>

<p>
  <%= link_to 'Создать вопрос', new_admin_test_question_path(@test) %>
</p>

<%= link_to 'Редактировать тест', edit_admin_test_path(@test) %> |
<%= link_to 'Назад', admin_tests_path %> | 
<%= link_to 'Удалить', admin_test_path(@test),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>
                       
