<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title, 'Название' %><br>
    <%= form.text_field :title, value: @test.title %>
  </p>

  <p>
    <%= form.label :level, 'Уровень' %><br>
    <%= form.number_field :level, value: @test.level %>
  </p>

  <p>
    <%= form.label :category_id, 'Категория теста' %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <p><%= form.submit 'Сохранить' %></p>
<% end %>