<p>
  <strong>Тест</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @test.category.title %>
</p>

<h3>Вопросы теста:</h3>
<table>
  <%= render @questions %>
</table>
<br>
<p>
  <%= link_to 'Создать вопрос', new_test_question_path(@test) %>
</p>

<%= link_to 'Редактировать тест', edit_test_path(@test) %> |
<%= link_to 'Назад', tests_path %> | 
<%= link_to 'Удалить', test_path(@test),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>