<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class='nav user'>Добро пожаловать, <b><%= current_user.first_name %></b> Гуру </p>
      <p class="nav user"><%= link_to 'Выйти', destroy_user_session_path, method: :delete, data: {confirm: 'Вы уверены?'}%></p>
      <p class="nav user"><%= link_to 'TestGuru', root_path %></p>
      <p class="nav user"><%= link_to 'Бейджи', badges_path %></p>
    <% else %>
      <p class="nav user"><%= link_to 'TestGuru', root_path%></p>
      <p class="nav user"><%= link_to "Войти", new_user_session_path %></p>
      <p class="nav user"><%= link_to "Регистрация", new_user_registration_path %></p>
    <% end %>
    
    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/footer'%>

  </body>
</html>
